<div class="container-fluid carousel-slide-header">
    <div class="row">
        <div class="col-md-12">
          <h1>{{{view.title}}}</h1>
        </div>
    </div>
</div>
<div class="container-fluid">
  {{#if view.back}}
      <div class="row bg-fill-white">
        <a class="btn btn-primary btn-large pull-left previous backButton" {{action "previousCarouselSlide" target="view.parentView"}}>Go Back</a>
      </div>
  {{/if}}
  {{yield}}
</div>
