<h3>DBMon | Naive Each</h3>
<p>
    All of these examples including this one have a 0ms timeout before fetching
    new data and render 200 rows (2x rowCount for master + slave) by default.
</p>
<button {{action "addRow"}}>Add Row</button>
<button {{action "removeRow"}}>Remove Row</button>
<table class="table table-striped latest-data">
  <tbody>
    {{#each model.databases as |db|}}
      {{dbmon-database db=db}}
    {{/each}}
  </tbody>
</table>

