<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <h3>Async Image</h3>
            <p>
                The async-image component renders an `img` tag with no additional markup.
            </p>
            <p>
                The image waits until it's source has been pre-loaded to render so that you
                don't show partially loaded images to your users.
            </p>
            <p>
                If the source changes or the component is torn down, the image src changes
                to a transparent 1px placeholder while the new image is fetched and during
                teardown to preserve memeory and prevent 404 errors from ghost network
                requests resulting from the blank source.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
          {{!- BEGIN-SNIPPET async-image-usage-example }}
          {{async-image
            src=(if attrs.imageSrc attrs.imageSrc attrs.imagePlaceholder)
            alt=attrs.imageAlt
            title=attrs.imageTitle
          }}
          {{!- END-SNIPPET async-image-usage-example }}
        </div>
      <div class="col-sm-8">
        {{code-snippet name="async-image-usage-example.hbs"}}
      </div>
    </div>
</div>