<div class="container-fluid">
    <div class="row">
        <div class="col-sm-7">
          {{!- BEGIN-SNIPPET scrollable-body-example }}
          {{#vertical-collection
            content=model.numbers
            defaultHeight=270
            alwaysUseDefaultHeight=true
            containerSelector="body"
            lastReached="loadBelow"
            as |item index|
            }}
                <div class="image-slide">
                  {{number-slide item=item index=index}}
                </div>
            {{/vertical-collection}}
          {{!- END-SNIPPET }}
        </div>
        <div class="col-sm-5">
            <h3>Scrolling based on the whole page.</h3>
            <h4>Code for Demo</h4>
          {{code-snippet name="scrollable-body-example.hbs"}}
        </div>
    </div>
</div>