@require '../helpers/colors.styl'
@require '../helpers/functions.styl'

.autocomplete ul
  list-style none

.autocompleteInput input
  systemFontSize 16px
  background #fbfbfb
  color #333
  height 2.5em
  width 100%
  line-height 1.25em
  border 0
  border-radius 0
  padding 2px 2px 2px 1.7em
  font-weight 300
  &::-webkit-input-placeholder
    font-size 12px
    font-style italic
  &::-moz-placeholder
    font-size 12px
    font-style italic
  &:-moz-placeholder
    font-size 12px
    font-style italic
  &::-ms-input-placeholder
    font-size 12px
    font-style italic

.autocompleteInput input:focus
  background: #ffffff
  color #222

.autocompleteInput .searchBarIcon
  font -apple-system-body
  line-height 2.5em
  float left
  position absolute
  top 0
  display block
  color #999
  width 1.5em
  height 1.5em
  margin 1px 0 0 .3em
