<header>
    <h1>Smoke And Mirrors</h1>
    <nav>
        {{#link-to "index"}}Overview{{/link-to}}
      | {{#link-to "dbmon-naive"}}DBMon - Naive{{/link-to}}
      | {{#link-to "dbmon-occlusion-collection"}}Vertical Collection{{/link-to}}
      | {{#link-to "infinite-scroll"}}Infinite Scroll{{/link-to}}
    </nav>
</header>
{{outlet "main"}}
