flexible-list
  display block

flexible-list list-item
  padding 2px 0
  color #383838
  display block
  &:nth-child(even)
    background #f0f0f0
    color #303030

flexible-list list-item value
  display inline
