@import '../variables';

screen {
  font-size: .85rem;
}

a {
  font-size: 1em;
  color: $theme-green;
  text-decoration: none;
}

a:visited {
  color: lighten($theme-green, 5%);
}

a:hover,
a:focus {
  color: darken($theme-green, 5%);
  text-decoration: underline;
}

a:active {
  color: darken($theme-orange, 5%);
  text-decoration: underline;
}

