/* includes legacy support for older tagNames */
occlusion-collection,
sm-collection.vertical,
occlusion-item,
collection-item {
  display: block;
  width: 100%;
  position: static;
}

sm-collection.horizontal,
.horizontal collection-item {
  display: inline-block;
  position: static;
}

.vertical collection-item::after {
  display: block;
  content: ' ';
  width: 100%;
  height: 0;
  float: none;
  clear: both;
  position: relative;
}

.horizontal collection-item::after {
  display: inline-block;
  content: ' ';
  width: 0;
  height: 100%;
  position: relative;
}
