/* includes legacy support for older tagNames */
occlusion-collection,
vertical-collection {
  display: block;
  width: 100%;
  min-height: 100%;
  position: relative;
}

occlusion-item, vertical-item {
  display: block;
  width: 100%;
  position: relative;
}

vertical-item::after {
  display: block;
  content: ' ';
  width: 100%;
  height: 0;
  float: none;
  clear: both;
  position: relative;
}

