/* includes legacy support for older tagNames */
occlusion-collection.vertical,
sm-collection.vertical,
.vertical occlusion-item,
.vertical collection-item {
  display: block;
  width: 100%;
  position: static;
}

occlusion-collection.horizontal,
sm-collection.horizontal,
.horizontal occlusion-item,
.horizontal collection-item {
  display: inline-block;
  position:static;
  height: 50%;
}

.vertical collection-item::after {
  display: block;
  content: ' ';
  width: 100%;
  height: 0;
  float: none;
  clear: both;
  position: relative;
}
