<h3>DBMon | Occlusion Collection</h3>
<div class="table-wrapper">
    <table class="table table-striped latest-data">
      {{occlusion-collection
        tagName="tbody"
        itemViewClass="dbmon-database-tagless"
        defaultHeight=37
        alwaysUseDefaultHeight=true
        containerSelector=".table-wrapper"
        invisibleBuffer=0.5
        visibleBuffer=0.25
        cacheBuffer=0
        keyForId="id"
        contentToProxy=model.databases
      }}
    </table>
</div>

