<h2>Demos</h2>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4">
            <ul>
                <li>
                  {{#link-to 'examples.dbmon'}}dbMon{{/link-to}}
                </li>
                <li>
                  {{#link-to 'examples.infinite-scroll'}}Infinite Scroll{{/link-to}}
                </li>
                <li>
                  {{#link-to 'examples.flexible-layout'}}Flexible Layout{{/link-to}}
                </li>

                <li>
                  {{#link-to 'examples.scrollable-body'}}Scrollable Body{{/link-to}}
                </li>
            </ul>
        </div>
        <div class="col-sm-8 bg-success">
            <h3>Don't see what you're looking for?</h3>
            <p>
                If you think you need to support a behavior and are unsure if
                smoke-and-mirrors can handle the situation, open an issue or
                ask on the #smoke-and-mirrors channel on the ember-community slack.
            </p>
        </div>
    </div>
</div>