<h2>Components</h2>
<ul>
    <li>
      {{#link-to 'available-components.vertical-collection'}}Vertical Collection{{/link-to}}
    </li>
  {{!--
<li>
  {{#link-to 'available-components.vertical-collection'}}Vertical Collection{{/link-to}}
</li>
<li>
  {{#link-to 'available-components.grid-collection'}}Vertical Collection{{/link-to}}
</li>
--}}
    <li>
      {{#link-to 'available-components.pre-render'}}Pre-Render{{/link-to}}
    </li>
    <li>
      {{#link-to 'available-components.async-image'}}Async Image{{/link-to}}
    </li>
</ul>