<h2>Overview</h2>
<p>
    Sometimes being "ambitious" gets you in trouble. When it does, Smoke-and-mirrors is here to put out your Ember fire.
</p>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4">
            <h3>Updates</h3>
          <ul>
              <li class="bg-success">
                  This repo is currently running smoke-and-mirrors {{version}} against Ember {{emberVersion}}
              </li>
          </ul>
        </div>
        <div class="col-sm-6 col-sm-offset-1">
            <h3>Philosophy</h3>
            <p>
              Every component and primitive offered in this library has been designed with
                two goals in mind.
            </p>
            <ol>
                <li>Large, high performance Javascript applications should be easy to build.</li>
                <li>Performance should not sacrifice flexibility.</li>
            </ol>
            <p>
               Smoke and Mirrors will try it's best to allow you to keep the conventions, structures,
                and layouts you want.  If you can't figure out how to do something you want to do,
                open an issue, and either we will point you to an existing demo, or create a new one.
            </p>
            <p>
                If you're a member of the ember-community slack, you can also ask questions in the
                #e-smoke-and-mirrors channel.
            </p>
        </div>
    </div>
</div>

