<h2>Overview</h2>
<p>
    Sometimes being "ambitious" gets you in trouble. When it does, Smoke-and-mirrors is here to put out your Ember fire.
</p>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4">
            <h3>Updates</h3>
          <ul>
              <li class="bg-primary">
                  This repo is currently running smoke-and-mirrors {{version}} against Ember {{emberVersion}}
              </li>
            <li class="bg-success">
                0.4.0 and 0.4.1 were release on Wednesday, October 28. Blog posts coming shortly on <a href="https://blog.runspired.com">Runspired.com</a>.
            </li>
              <li class="bg-warning">
                 Because of the complicated (but ultimately highly successful) nature of the internal scroll
                  handling rewrite, 0.4.x is primarily a compendium of bugfixes with few new features. Because
                  of this, there will now be a 0.5 series prior to 1.0 in which the remaining features slated
                  for 0.4 will land.  0.5 is scheduled for Wednesday, November 11th. You can <a href="https://github.com/runspired/smoke-and-mirrors/milestones/0.5.0">follow it here</a>.
              </li>
              <li class="bg-info">
                  1.0 is now scheduled for release on Wednesday, November 25th.
                  A blog post will accompany the release on <a href="https://blog.runspired.com">Runspired.com</a>
              </li>
          </ul>
        </div>
        <div class="col-sm-6 col-sm-offset-1">
            <h3>Philosophy</h3>
            <p>
              Every component, service, mixin, and primitive offered in this library has been designed with
                two goals in mind.
            </p>
            <ol>
                <li>Large, high performance Javascript applications should be easy to build.</li>
                <li>Performance should not sacrifice flexibility.</li>
            </ol>
            <p>
               Smoke and Mirrors will try it's best to allow you to keep the conventions, structures,
                and layouts you want.  If you can't figure out how to do something you want to do,
                open an issue, and either we will point you to an existing demo, or create a new one.
            </p>
            <p>
                If you're a member of the ember-community slack, you can also ask questions in the
                #smoke-and-mirrors channel.
            </p>
        </div>
    </div>
</div>

