<div class="container-fluid">
    <div class="row">
        <div class="col-sm-7">
            <div class="demo-wrapper bg-dark">
              {{!- BEGIN-SNIPPET dbmon-example }}
                <div class="table-wrapper">
                    <table class="table table-striped latest-data">
                      {{#vertical-collection model.databases
                        tagName="tbody"
                        defaultHeight=37
                        bufferSize=0.5
                        containerSelector=".table-wrapper"
                        as |db|
                      }}
                        {{examples/dbmon/components/dbmon-row tagName="" db=db}}
                      {{/vertical-collection}}
                    </table>
                </div>
              {{!- END-SNIPPET }}
            </div>
        </div>
        <div class="col-sm-5">
            <h3>Vertical Collection</h3>
            <p>
                The Vertical Collection smartly hides and removes off screen content.
            </p>
            <p>
                This makes building high frame-rate or render expensive components easier by
                focusing only on what's on screen now.
            </p>
          <p>
              If you are on an older version of Ember (pre-glimmer), setting `useContentProxy`
              to true will give you an equally fast and impressive render time by proxying
              the contents of the underlying array to avoid unnecessarily destroying views.
          </p>
            <h4>Code for Demo</h4>
          {{code-snippet name="dbmon-example.hbs"}}
        </div>
    </div>
</div>
