body {

}

h1 {
  color: #fff;
  font-size: 2rem;
  line-height: 2.1em;
  margin: .25em auto;
  padding: 0;
}

header {
  background: #323741;
  border-bottom: 1px solid #222;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.75);
}

nav {
  font-size: 2rem;
  line-height: 2.5em;
  color: #333;
  text-align: center;
}

nav a {
  color: #777;
}

.Query {
  position: relative;
}

.Query:hover .popover {
  top: 10px;
  left: -100px;
  width: 200px;
  display: block;
}

.table-wrapper {
  display: block;
  height: 500px;
  max-height: 500px;
  overflow: scroll;
  position: relative;
}

.table-wrapper.dark {
  background: #2f3f40;
}

.table-wrapper table {
  height: 500px;
}

img.async-image {
  width: 250px;
  height: 250px;
  background: #1f2f30;
  border: 1px solid #bbb;
  box-shadow: 1px 1px 5px 0 #d0d0d0;
}

.image-slide {
  width: 250px;
  height: 270px;
  margin: 0 auto;
  padding: 10px 0;
  position: relative;
}

.image-slide.flexible {
  height: auto;
  margin: 0 auto;
  padding: 10px 0;
  position: relative;
}

.image-slide.flexible .async-image {
  min-height: 200px;
}

.image-slide .loading-spinner {
  background: url('../spinnerLarge.gif') center center no-repeat;
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  float: left;
}
