body {
  height: 100%;
}

h1 {
  color: #fff;
  font-size: 2rem;
  line-height: 2.1em;
  margin: .25em auto;
  padding: 0;
}

header {
  background: #2f3f40;
  border-bottom: 1px solid #111;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.75);
}

nav {
  font-size: 2rem;
  line-height: 2.5em;
  color: #333;
  text-align: center;
}

nav a {
  color: #777;
}

.Query {
  position: relative;
}

.Query:hover .popover {
  top: 10px;
  left: -100px;
  width: 200px;
  display: block;
}

.table-wrapper {
  display: block;
  height: 500px;
  max-height: 500px;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
  position: relative;
  background: #fff;
}

.table-wrapper.dark, .bg-dark {
  background: #2f3f40;
}

.demo-wrapper {
  margin-top: 25px;
  padding: 15px;
}

.table-wrapper table {
  height: 500px;
}

.table-wrapper table tr {
  height: 37px;
}

.image-slide {
  width: 250px;
  height: 270px;
  margin: 0 auto;
  padding: 10px 0;
  position: relative;
}

number-slide {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  width: 250px;
  height: 250px;
  background: #1f2f30;
  border: 1px solid #bbb;
  box-shadow: 1px 1px 5px 0 #d0d0d0;
  color: #fff;
}

.grid-item number-slide {
   width: 100px;
   height: 100px;
   margin: 0 auto;
 }

number-slide .number {
  font-size: 7.5rem;
  font-weight: 900;
}

.grid-item number-slide .number {
  font-size: 2rem;
}

number-slide .index {
  font-size: 2rem;
  color: #aaa;
}

.grid-page {
  min-height: 500px;
}

.grid-item number-slide .index {
  font-size: 1rem;
}

.image-slide.flexible {
  height: auto;
}

img.async-image {
  background: #1f2f30;
  border: 1px solid #bbb;
  box-shadow: 1px 1px 5px 0 #d0d0d0;
}

.grid-item,
img.async-image.grid-image {
  background: #efefef;
  border: 1px solid #e0e0e0;
  width: 20%;
  height: 100px;
  margin: 0;
  box-sizing: border-box;
  float: left;
}

.grid-page {
  width: 100%;
  float: left;
  height: auto;
}

.grid-page::after {
  content: ' ';
  display: block;
  float: none;
  clear: both;
  width: 100%;
}

.auto-box {
  float: left;
}

.image-slide.flexible img.async-image {
  height: auto;
  min-height: 250px;
}

.image-slide .loading-spinner {
  background: url('../spinnerLarge.gif') center center no-repeat;
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  float: left;
}

.text-white, .text-white:hover, .text-white:active, .text-white:focus {
  color: #fff;
}
.text-small {
  font-size: 1.4rem;
}
nav.text-small {
  line-height: 4.2rem;
  margin: .55rem 0
}

nav.text-small a {
  margin: 0 .5em;
}

img.auto-size {
  width: 100%;
  height: auto;
}

.display-inline {
  display: inline-block;
}
