<div class="container-fluid">
    <div class="row">
        <div class="col-sm-7">
          {{!- BEGIN-SNIPPET flexible-layout-example }}
            <div class="table-wrapper">
              {{#vertical-collection model.numbers
                defaultHeight=270
                alwaysRemeasure=true
                firstReached="loadAbove"
                lastReached="loadBelow"
                as |item index|
              }}
                  <div class="image-slide flexible">
                    {{number-slide isDynamic=true item=item index=index}}
                  </div>
              {{/vertical-collection}}
            </div>
          {{!- END-SNIPPET }}
        </div>
        <div class="col-sm-5">
            <h3>Flexible Layouts</h3>
            <p>
                The Vertical Collection doesn't care if your items are of a uniform
                size or type.
            </p>
            <p>
                This layout agnostic behavior will improve even more in upcoming releases
                with integration with the pre-render component.
            </p>
            <h4>Code for Demo</h4>
          {{code-snippet name="flexible-layout-example.hbs"}}
        </div>
    </div>
</div>