<div class="container-fluid">
    <div class="row">
        <div class="col-sm-7">
          {{!- BEGIN-SNIPPET infinite-scroll-example }}
            <div class="table-wrapper">
              {{#vertical-collection
                content=model.images
                defaultHeight=300
                alwaysUseDefaultHeight=false
                containerSelector=".table-wrapper"
                invisibleBuffer=1
                visibleBuffer=2
                useContentProxy=true
                firstReached="loadAbove"
                lastReached="loadBelow"
                as |image|
              }}
                  <div class="image-slide flexible">
                    {{async-image src=image.large}}
                  </div>
              {{/vertical-collection}}
            </div>
          {{!- END-SNIPPET }}
        </div>
        <div class="col-sm-5">
            <h3>Infinite Scroll</h3>
            <p>
                The Vertical Collection can be used to quickly build a robust infinite scroll.
            </p>
            <h4>Code for Demo</h4>
          {{code-snippet name="infinite-scroll-example.hbs"}}
        </div>
    </div>
</div>