<h3>DBMon | Occlusion Collection</h3>
<div class="table-wrapper">
    <table class="table table-striped latest-data">
      {{occlusion-collection
        tagName="tbody"
        itemViewClass="dbmon-database-tagless"
        defaultHeight=25
        wrapperSelector=".table-wrapper"
        scrollSelector=".table-wrapper"
        keyForId="id"
        proxied=model.databases
      }}
    </table>
</div>

