<div class="container-fluid">
    <div class="row">
        <div class="col-sm-7">
          <h4>Available Settings (with defaults)</h4>
          {{code-snippet name="vertical-collection-defaults-example.js"}}
        </div>
        <div class="col-sm-5">
            <h3>Vertical Collection</h3>
        </div>
    </div>
</div>