<header class="container-fluid">
    <div class="row">
        {{#link-to 'index' tagName="h1" class="col-sm-6"}}
            <img src="./logo.svg" style="width: 2em; height: 2em;">
            Smoke And Mirrors
        {{/link-to}}
        <nav class="col-sm-6 text-small">
          {{#link-to "examples" class="text-white"}}Demos{{/link-to}}
{{!-- {{#link-to "features" class="text-white"}}Features{{/link-to}} --}}
          {{#link-to "available-components" class="text-white"}}Components{{/link-to}}
        </nav>
    </div>
</header>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
          {{outlet}}
        </div>
    </div>
</div>

