<div class="container-fluid">
    <div class="row">
        <div class="col-sm-5">
            <h3>Demo</h3>
          {{!- BEGIN-SNIPPET infinite-scroll-example }}
            <div class="table-wrapper dark">
              {{#vertical-collection
                content=model.filtered
                defaultHeight=270
                alwaysUseDefaultHeight=true
                useContentProxy=false
                as |item index|
              }}
                  <div class="image-slide">
                    {{examples/infinite-scroll/components/number-slide number=item.number index=index}}
                  </div>
              {{/vertical-collection}}
            </div>
          {{!- END-SNIPPET }}
        </div>
        <div class="col-sm-7">
            <h3>Redcue Debug</h3>
            <p>
                Ensure we can shrink the array safely.
            </p>
          <p>
            <button {{action "filter"}}>Trigger Filter</button>
          </p>
            <h4>Code for Demo</h4>
          {{code-snippet name="infinite-scroll-example.hbs"}}
        </div>
    </div>
</div>