<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <h3>In Viewport</h3>
            <p>
                Inject the in-viewport service to a component.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
        </div>
      <div class="col-sm-8">
        {{code-snippet name="in-viewport-mixin-usage.js"}}
      </div>
    </div>
</div>