<h2>Demos!</h2>

<p>
    There's nothing like putting a performance addon to the test like
    a serious stress test.
</p>
<p>
    All of the demos here are built using Ember 1.11.  There are NOT Glimmer'd.
</p>
