<header>
    <h1>Smoke And Mirrors | Performance Issues</h1>
    <nav>
        {{#link-to "perf-demo.index"}}Overview{{/link-to}}
        | {{#link-to "perf-demo.proxied-array"}}Proxied Array{{/link-to}}
        | {{#link-to "perf-demo.magic-array"}}Magic Array{{/link-to}}
        | {{#link-to "perf-demo.modified-magic-array"}}Modified Magic Array{{/link-to}}
    </nav>
</header>
{{outlet}}