/* includes legacy support for older tagNames */
occlusion-collection,
vertical-collection,
occlusion-item,
vertical-item {
  display: block;
  width: 100%;
  position: static;
  }

vertical-item::after {
  display: block;
  content: ' ';
  width: 100%;
  height: 0;
  float: none;
  clear: both;
  position: relative;
}

