<header>
    <h1>Smoke And Mirrors</h1>
    <nav>
      {{#link-to "index"}}Overview{{/link-to}}
        | {{#link-to "dbmon-naive"}}DBMon - Naive{{/link-to}}
        | {{#link-to "dbmon-occlusion-collection"}}Vertical Collection{{/link-to}}
        | {{#link-to "infinite-scroll"}}Infinite Scroll{{/link-to}}
    </nav>
</header>
<h2>Overview</h2>
<p>
    I should probably type something cool here, but that would only distract
    from the demos linked above.
</p>
<p>
    This repo is currently running 1.13.0-beta.2
</p>
<p>
    There are two nearly identical components in this lib, `vertical-collection` and
    `vm-collection`.  The former is for use with glimmer, the latter is for use pre-glimmer.
</p>