selectable-input
  display block

.selectableOptions
  height 300px
  overflow-x hidden
  overflow-y scroll
  -webkit-overflow-scrolling touch
  enableAcceleration()
  -webkit-perspective none


.customer-name-input .selectableOptions
  height 377px

.selectableOption
  background #ffffff
  color t2d_red
  border-bottom-color #f5f5f5
  systemFontSize 16px
  font-weight 300
  padding .3em 0px

.selectableOption .secondaryLabel
  font-size .75em
  font-style italic
  font-weight 100
  color #444
  display block
  text-align right

.employeeInput
  height calc(100% - 2.5em)

.templateSelection
.employeeInput .selectableOptions
.templateSelection .selectableOptions
  height 100%

.templateSelection .selectableOption .secondaryLabel
  padding .5em 1em
  border-left .5em solid #e3e3e3
  text-align left
  display block

.selectableOption.selected
  background #ebebe9
  color t2d_red
  .secondaryLabel
    color #808080
    border-color t2d_red

.selectableOption.hovered
  background #f7f7f2
  color t2d_red
  .secondaryLabel
    color #909090

.customer-name-input .selectableOption
.employee-name-input .selectableOption
  color #555
  padding .5em 0

.employee-name-input .selectableOption .col-xs-1
.employee-name-input .selectableOption .col-xs-2
.employee-name-input .selectableOption .col-xs-9
  padding 0

.employee-name-input .selectableOption .primaryLabel
.employee-name-input .selectableOption .secondaryLabel
  text-align left
  display inline-block
  width 100%

.selectablePreviewImage
  width 2em
  height 2em
  margin .2em 0
  border-radius .1em

.user-photo-placeholder
  display inline-block
  width 4em
  height 4em
  margin .4em 0
  text-align center
  line-height 4em
  font-size .5em
  color #555
  font-weight 400
  background-color #ddd
  border-radius .2em

.employee-name-input .online-status
  margin .9em 0.25em 0

