<h3>DBMon | Occlusion Collection</h3>
<div class="table-wrapper">
    {{occlusion-collection
      itemViewClass="image-slide"
      defaultHeight=500
      visibleBuffer=2
      invisibleBuffer=3
      cacheBuffer=2
      alwaysUseDefaultHeight=true
      containerSelector=".table-wrapper"
      bottomReached="loadBelow"
      topReached="loadAbove"
      keyForId="small"
      contentToProxy=model.images
    }}
</div>

