<h3>DBMon | Occlusion Collection</h3>
<div class="table-wrapper">
    {{occlusion-collection
      tagName="div"
      itemViewClass="image-slide"
      defaultHeight=200
      wrapperSelector=".table-wrapper"
      scrollSelector=".table-wrapper"
      keyForId="small"
      proxied=model
    }}
</div>

