<h1>DBMON | Smoke And Mirrors</h1>

<table class="table table-striped latest-data">
  {{proxied-each
    tagName="tbody"
    itemViewClass="dbmon-database"
    keyForId="id"
    proxied=model.databases
  }}
</table>

