<h1>DBMON | Smoke And Mirrors</h1>
<div>
    <table class="table table-striped latest-data">
        <tbody>
        {{#each model.databaseArray key='name' as |db|}}
          {{dbmon-database db=db}}
        {{/each}}
        </tbody>
    </table>
</div>
