<nav class="container-fluid secondary">
    <div class="row">
        <div class="col-xs-12">
          {{#link-to "dbmon.naive"}}Naive{{/link-to}} /
          {{#link-to "dbmon.proxied"}}Proxied{{/link-to}} /
          {{#link-to "dbmon.occlusion"}}Occluded{{/link-to}} /
          {{#link-to "dbmon.proxied-occlusion"}}Proxied & Occluded{{/link-to}}
        </div>
    </div>
</nav>
{{liquid-outlet "main"}}
