
<td class="dbname">
  {{view.content.id}}
</td>
<td class="query-count">
  <span class="{{view.countClassName}}">
    {{view.content.queries.length}}
  </span>
</td>
{{#each view.topFiveQueries as |query|}}
  {{view "dbmon-row-cells" content=query}}
{{/each}}
