<h3>DBMon | Proxied Each</h3>
<button {{action "addRow"}}>Add Row</button>
<button {{action "removeRow"}}>Remove Row</button>
<table class="table table-striped latest-data">
    <tbody>
    {{#proxied-each
      keyForId="id"
      contentToProxy=model.databases
      as |db|
      }}
      {{dbmon-database db=db}}
      {{/proxied-each}}
    </tbody>
</table>

