<div class="container-fluid">
    <div class="row">
        <div class="col-sm-7">
            <table class="table table-striped latest-data">
                <tbody>
                {{#sproxied-each
                keyForId="id"
                contentToProxy=model.databases
                as |db|
                }}
                  {{dbmon-database-naive db=db}}
                {{/sproxied-each}}
                </tbody>
            </table>
        </div>
        <div class="col-sm-5">
            <h3>Adjust Timeout</h3>
          {{input value=timeout}}

            <h3>Adjust Rows</h3>
            {{input value=numRows}}
        </div>
    </div>
</div>
