<header>
    <h1>Smoke And Mirrors</h1>
    <nav>
      {{#link-to "index"}}Overview{{/link-to}}
        | {{#link-to "dbmon-naive"}}DBMon - Naive{{/link-to}}
        | {{#link-to "dbmon-occlusion-collection"}}Vertical Collection{{/link-to}}
        | {{#link-to "infinite-scroll"}}Infinite Scroll{{/link-to}}
    </nav>
</header>
<h3>DBMon | Naive Each</h3>
<p>
    All of these examples including this one have a 0ms timeout before fetching
    new data and render 200 rows (2x rowCount for master + slave) by default.
</p>
<button {{action "addRow"}}>Add Row</button>
<button {{action "removeRow"}}>Remove Row</button>
<table class="table table-striped latest-data">
  <tbody>
    {{#each model.databases key="id" as |db|}}
      {{dbmon-database-naive db=db}}
    {{/each}}
  </tbody>
</table>

